services:
  backend:
    build: ./backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8100:8000"
    volumes:
      - ./backend:/code
    ipc: host

  frontend:
    build: ./frontend
    ports:
      - "3100:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
